.about {
    background-color: black;
    padding: 100px 0;
        .container {
            @include displayFlex;
            align-items: center;
            .hiDave {
                .hello {
                    img {
                        width: 65%;
                        margin: 0 auto;
                    }
                }
                .rating {
                    margin-top: 15px;
                    img {
                        width: 45%;
                        margin: 0 auto;
                    }
                }
            }
            .aboutDave {
                width: 32%;
                p {
                    @include bodyText(1.2rem);
                    color: white;
                    text-transform: unset;
                    text-align: center;
                    line-height: 30px;
                        span {
                            display: block;
                        }
                }
            }
        }
}