.gallery {
    background-color: black;
    background-image: url('../assets/images/redwood.png');
    height: 100vh;
    position: relative;
    overflow: hidden;
            .pen,
            .cup, 
            .arrow{
                position: absolute;
                overflow: hidden;
            }
            .pen {
                bottom: 40px;
                left: 70px;
                img {
                    width:70%;
                }
            }
            .cup {
                right: -70px;
                top: 30px;
                img {
                    width: 55%;
                    margin: auto;
                    overflow: hidden;
                }      
            }
            .arrow {
                bottom: 60px;
                right: 225px;
                z-index: 15;
                    img {
                        width: 80%;
                    }
            }  
            .swiper-container {
                .swiper-wrapper {
                    margin-top: 70px;
                    position: relative;
                    .swiper-slide {
                        img {
                            width: 70%;
                            margin: 0 auto;
                        }
                    }
                }
                .swiper-button-white {
                    width: 20%;
                    margin-top: 20px;
                }
            }
        }


