.pete {
    background-image: url('../assets/images/BlackPaintSmudgeRedBgk.png');
    padding: 50px 0;
    background-size: cover;
    .container {
        width: 100%;
        @include displayFlex;
        align-items: center;
        .boxOne {
            width: 30%;
            margin: 0 auto;
            .petePicture {
                img {
                    width: 100%;
                }
            }
            .peteName {
                img {
                    width: 50%;
                    margin: 0 auto;
                }
            }
        }
        .boxTwo {
            width: 55%;
            p {
                @include bodyText(1.5rem);
                color: white;
                text-align: center;
                    span {
                        display: block;
                    }
            }
            a {
                img {
                    width: 9%;
                    margin: 15px auto;
                }
            }
        }
    }
}